<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/css/styles.css">

        <title>OWASP</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        <script src="{{ url_for('static', filename='scripts/navbar.js') }}"></script>
        <p>{{contacts.title}}</p>
        <p>{{contacts.about}}</p>
        {% if contacts.contacts %}
            {% for item in contacts.contacts %}
                <p>{{item.point}}</p>
                <p>{{item.address}}</p>
            {% endfor %}
        {% endif %}
        <p><a href="{{ contacts.donate }}" target="_blank">Donate to the team</a></p>
    </body>
</html>