<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/css/styles.css">
        <title>Поиск</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        <script src="{{ url_for('static', filename='scripts/navbar.js') }}"></script>

        <p class="title-text">#: Поиск репозиториев с уязвимостями</p>
        <form class="form-container" method="post" action="{{ url_for('main.search') }}">
            <select name="vulnerabilities" id="vulnerabilities" class="select">
              {% for vuln in vulnerabilities %}
                <option value="{{ loop.index0 }}" {% if selected_value == loop.index0|string %}selected{% endif %}>
                  {{ vuln.class_id }}: {{ vuln.name }}
                </option>
              {% endfor %}
            </select>
          <input type="submit" value="JUST DO IT!" class="submit-button">
            {% if results %}
                {% for item in results %}
                  {% for url, data in item.items() %}
                    <div class="profile-avatar tab-item">
                        <div class="profile">
                            <img src="{{ data.owner.avatar_url }}" width="60" height="60" class="avatar"/>
                            <div>
                                <p class="profile"><strong>Автор:</strong> {{ data.owner.login }}</p>
                                <p class="profile"><strong>Язык:</strong> {{ data.language }}, {{ data.level }}</p>
                                <p class="profile"><a href="{{ data.owner.repo }}" target="_blank">{{ data.owner.repo }}</a></p>
                            </div>
                        </div>
                        <p class="profile"><a href="{{ url }}" target="_blank">Файл с возможной уязвимостью</a></p>
                    </div>
                    {% endfor %}
                {% endfor %}
            {% else %}
                <p>No repositories found!</p>
            {% endif %}
        </form>
    </body>
</html>