<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="styles.css">

        <title>Поиск</title>
    </head>
    <body>
        <div id="navbar"></div>

        <script>
            fetch('navbar.html')
                .then(res => res.text())
                .then(html => {
                    document.getElementById('navbar').innerHTML = html;

                    const script = document.createElement('script');
                    script.src = 'navbar.js';
                    document.body.appendChild(script);
            });
        </script>
    </body>
</html>